
.button {background-color: rgb(2, 7, 49);
border-style:dashed;
border-bottom: 200ex;
border-radius: 15px;
border: none;
color: white;
padding: 16px 32px;
text-decoration: none;
margin: 8px 20px;
cursor: pointer;
width:300px;
height:10;
}